img {
    width: 200px;
}

h1 {
        font-style: italic;
        color:white;
}

body {
    color:white;
    text-align: center;
    font-family: Arial;
    background-image: url(https://i.ytimg.com/vi/lt0WQ8JzLz4/maxresdefault.jpg);
}

ul {
    text-shadow: rgb(#9e9e8f);
    border-color:white;
    border-style: inset;
}

.rugby {
    width: 400px;
    border-color: white;
    border-style: dashed;
    
}
