img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
}

p {
    color:#1f0d45;
}

ul {
    color:#9c91ea;
    list-style-position: inside;
}

ol {
    color:#d185d8;
    list-style-position: inside;

}

h3 {
    color: #7454cc;
}

h2 {
    color: #7a408d;
}

h1 {
    color; #008080
}